@model ICollection<DAL.DTOs.EmployeeDTO>
@{
    ViewData["Title"] = "Details";
}
<h1>Employees data</h1>
@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Contract Type</th>
                <th scope="col">Role</th>
                <th scope="col">Role Description</th>
                <th scope="col">Annual Salary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td scope="row">@employee.Id</td>
                    <td>@employee.Name</td>
                    <td>@employee.ContractTypeName</td>
                    <td>@employee.RoleName</td>
                    <td>@employee.RoleDescription</td>
                    <td>@employee.AnnualSalary</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Employee data not found.</p>
}
